.entirepage {
  background-color: rgb(255, 0, 98);
  height: 100vh;
}

.buttonlogin {
  padding: 10px;
  border-radius: 5rem;
  color: white;
  font-size: 18px;
  background-color: rgb(255, 0, 98);
  border: none;
}

.buttonlogin:hover {
  background-color: rgba(248, 63, 134, 0.8);
  transition: all 0.4s ease-in-out;
}

.logintitle {
  color: rgb(255, 0, 98);
}
