.analysis-card {
  min-height: 150px;
  margin: 10px;
  height: 100%;
  border-radius: 10px;
  border: none;
  padding: 10px;
  box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.2);
}

.analysis-card .card-text {
  font-size: 32px;
}

.student-button {
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  color: white;
  font-size: 18px;
  background-color: rgb(255, 0, 98);
  border: none;
}

.student-button:first-child {
  margin-left: 0;
}

.student-button:hover {
  background-color: rgba(248, 63, 134, 0.8);
  transition: all 0.4s ease-in-out;
}

.logincard {
  border-radius: 1.4rem;
  border: none;
}

.loggedpage {
  height: 100vh;
  background-color: rgb(255, 0, 98);
}

.dashboardcard {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@media only screen and (max-width: 995px) {
  .loggedpage {
    height: 150vh;
  }
  .dashboardcard {
    top: 75%;
  }
}
